/* Global values for all components */
.base-component {
    width: 100%;
    height: 100%;

    padding-left: 10px;

    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    
    color: var(--font-color);
    background-color: var(--secondary-color);
    /*backdrop-filter: blur(10px);*/
}

.base-component-div {
    position: relative;
}

.base-component-div .button-icon {
    position: absolute;
    
    top: 0px;
    width: 100%;
    height: 100%;

    transform: scale(0.8);
    margin-left: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.text-field {
    margin-left: -5px;
    width: calc(100% + 5px);
}

.base-component-div .button {
    margin-left: 5px;
}

.base-component-div .button-icon {
    cursor: pointer;
	transition: 0.1s cubic-bezier(0.85, 0, 0.15, 1);
    border-radius: 8px;
}

.base-component-div #users-list {
    margin-left: 5px;

    width: 277px;
    height: fit-content;
    max-height: 270px; 

    background-color: #ffe0e0;
    border-radius: 8px;

    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;

    padding: 10px 12px 10px 10px;
}

.base-component-div #users-list ul #err-msg {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    color: #999;
    
    padding-top: 15px;
    padding-bottom: 25px;
    text-align: center;
}

.base-component-div #users-list ul {
    width: calc(100% + 10px);
    max-height: 180px;
    min-height: fit-content;

    padding-bottom: 5px;
    margin-top: 10px;

    list-style-type: none;
    
    overflow-y: scroll;
    overflow-x: hidden;
}

.base-component-div #users-list ul:empty {
    padding: 0;
    margin: 0;
}

.base-component-div #users-list #user-add #text-field-input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.1em;

    margin: 15px;

    width: calc(100% - 45px);
    height: 45px;
}

.base-component-div #users-list #user-add {
    width: 100%;
    height: 80px;

    border: 2px solid var(--secondary-color);
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .14);

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

	transition: 0.1s cubic-bezier(0.85, 0, 0.15, 1);
}

.base-component:focus {
    outline: none;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
}

.base-component-div .button:active {
    background-color: var(--primary-color);
    border-radius: 8px;
}

